@import '~office-ui-fabric-react/dist/sass/References.scss';

.customSrsApplication {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

    .flexRow {
      display: flex;
      text-align: center;
    }

    .buttonRow {
      text-align: center;

      .button:first-child {
        margin-left: 0;
      }
    }

    .topRow {
      padding-bottom: 20px;
    }

    .bottomRow {
      padding-top: 20px;
    }

    .row {
      @include ms-fontColor-white;
      width: 100%;
      background-color: $ms-color-themeDark;
      padding: 20px;

      &.itemsRow {
        border-top: 14px ridge $ms-color-themePrimary;

        .showItemsRow {
          padding: 5px 0;

          .title {
            border: 2px solid grey;
          }

          .hidden {
            display: none;
          }
        }
      }

      &.lessonRow {
        border-top: 14px ridge tomato;
      }

      &.reviewRow {
        border-top: 14px ridge darkcyan;
      }

      .addItemRow {
        padding: 10px 0;

        .label {
          display: block;
          margin-bottom: 5px;
        }

        input {
          width: 50%;
          height: 20px;
        }
      }

      .title {
        @include ms-font-l;
        @include ms-fontColor-white;
      }

      .button {
        display: inline-block;
        position: relative;
        width: calc(1/3 * 100%);
        min-width: 80px;
        height: auto;
        margin: 0 16px;
        border-color: $ms-color-themePrimary;
        border-width: 0;
        outline: transparent;
        background-color: $ms-color-themePrimary;
        color: $ms-color-white;
        text-decoration: none;
        font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: $ms-font-size-m;
        font-weight: $ms-font-weight-regular;
        text-align: center;
        cursor: pointer;

        &.inactiveButton {
          background: darkslategray;
        }

        &.refreshButton {
          display: block;
          background: darkmagenta;
          width: 100%;
        }

        &.itemsButton {
          background: cadetblue;
        }

        &.reviewButton {
          background: darkolivegreen;
        }

        &.lessonButton {
          background: darkred;
        }

        .label {
          display: inline-block;
          margin: 0 4px;
          vertical-align: middle;
          font-weight: $ms-font-weight-semibold;
          font-size: $ms-font-size-m;
          height: 32px;
          line-height: 32px;

          &.largeLabel {
            padding: 20px 0px;
          }
        }
      }
    }
  }
}
