@import '~office-ui-fabric-react/dist/sass/References.scss';

.itemRow {
  @include ms-fontColor-white;
  display: flex;
  background: $ms-color-themePrimary;
  padding: 5px 0;

  .itemDescription,
  .readingDescription {
    width: 25%;
    border-right: 1px solid $ms-color-white;
    padding: 0 10px;
  }
  
  .meaningDescription {
    width: 50%;
    padding: 0 10px;
  }
}
